.about-us {
    text-align: center;
    color: #fff;
  }
  
  .about-us hr {
    background-color: #fff;
    height: 2px; /* Reduce the height of the hr */
    width: 100px; /* Reduce the width of the hr */
    margin-bottom: 20px;
  }
  
  .about-us .image-container {
    margin-bottom: 20px;
  }
  
  .about-us .image-container img {
    width: 100%;
    height: 200px; /* Change height to auto for responsive images */
  }
  
  .about-us .box-container {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap */
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .about-us .box {
    flex: 0 0 calc(33.33% - 20px); /* Set boxes to occupy 33.33% width with margin */
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #515b4f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-us .box .box-icon {
    position: relative;
  }
  
  .about-us .box .box-icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -61%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  
  .about-us .box .box-icon:hover .box-icon-overlay {
    opacity: 1;
  }
  
  .about-us .box .flag-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 100%;
    position: relative;
    z-index: 2;
  }
  
  .about-us .box p {
    font-size: 15px;
    line-height: 1.7;
    text-align: justify;
  }
  
  /* Add space between box and edges */
  .about-us .box-container {
    padding: 0 10px; /* Add padding to create space between edges and boxes */
  }
  
  .about-us .box {
    margin: 10px 30px; /* Adjust margin to create space between boxes */
  }
  
  /* Mobile View */
  @media (max-width: 767px) {
    .about-us hr {
      width: 60px; /* Further reduce the width of the hr */
    }
  
    .about-us .box {
      flex-basis: 100%; /* Set boxes to occupy 100% width */
      max-width: 100%; /* Set max width to 100% */
      margin: 10px 0px; /* Adjust margin to create space between boxes */
    }
    
    .about-us .box-container {
      padding: 0; /* Remove padding in small device view */
      justify-content: flex-start; /* Align boxes from left to right */
      padding-right: 30px;
    }
  }
  