section.contact {
    padding: 50px;
    
}

.map {
    width: 100%;

}

.map iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

.contact-details {
    
    padding-left: 20px;
    background-color: #515b4f;
    color: #fff;

    flex-wrap: wrap;
    justify-content: center;
}

.contact-details h2 {
    text-align: center;
    width: 100%;
}

.contact hr {
    border: 1px solid #fff;
    margin-bottom: 30px;
}

.contact-block {
    display: flex;
    padding-top: 50px;
}

.contact-box {
    flex-grow: 1;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;

    width: 100%;
}

.contact-box .icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box .icon img {
    width: 60px;
    border-radius: 100%;
}

.contact-box .text {
    flex-grow: 1;
    padding: 70px;
    background-color: #515b4f;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.contact-box .text h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-box .text p {
    margin: 0;
}

.contact-form-box {
    flex-grow: 1;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;

    width: 100%;
}

.contact-form-box .icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-box .icon img {
    width: 60%;
}

.contact-form-box .text {
    flex-grow: 1;
    padding: 10px;
    background-color: #515b4f;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
    padding: 0px;
}

.contact-form-box .text h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-form-box .text p {
    margin: 0;
}

.contact-form {
    margin-top: 40px;
    background-color: #515b4f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    display: block;
    align-items: center;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    /* Adjusted width */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #fff;
}

button[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}