footer {
    position: fixed;
    /* Fix the footer to the bottom of the viewport */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    padding-top: 100px;
    overflow-y: auto;
    background-color: #333;
    color: #FFF;

    text-align: center;
    z-index: -999;
    /* Ensure the footer is displayed above other elements */
}


footer img {
    max-width: 100%;
    height: auto;
    width: 150px;
    height: 50px;
}