.meet-the-team .meet-the-team-container {
    width: 100%;
    padding: 0;
  }
  
  .meet-the-team .meet-the-team-container img {
    width: 100%;
    margin: 0;
    height: 250px;
  }
  
  .meet-the-team .heading {
    text-align: center;
    color: #fff;
  }
  
  .meet-the-team hr {
    width: 70px;
    height: 1px;
    background-color: #fff;
    border: none;
    margin: 0 auto 100px auto;
  }
  
  .meet-the-team .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .meet-the-team .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 10px;
    height: fit-content;
  }
  
  .meet-the-team .list-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .meet-the-team .list-item-content {
    flex-grow: 1;
    text-align: center;
    color: #fff;
  }
  
  /* Adjust number of boxes per row for different screen sizes */
  @media (max-width: 767px) {
    .meet-the-team .list-item {
      width: 100%; /* Display one box per row on small screens */
    }
    
    .meet-the-team .list-item:nth-child(n) {
      flex-basis: 100%; /* Ensure each box occupies full width */
    }
  
    .meet-the-team .list-item img {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
  
    .meet-the-team .list-item-content {
      font-size: 14px;
    }
  
    .meet-the-team .heading {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .meet-the-team hr {
      margin-bottom: 50px;
    }
  }
  
  @media (min-width: 768px) {
    .meet-the-team .list-item {
      width: 50%; /* Display two boxes per row on medium screens */
    }
  }
  
  @media (min-width: 992px) {
    .meet-the-team .list-item {
      width: 33.33%; /* Display three boxes per row on large screens */
    }
  }
  
  @media (min-width: 1200px) {
    .meet-the-team .list-item {
      width: 25%; /* Display four boxes per row on extra-large screens */
    }
  }
  