.meet-the-team .meet-the-team-container {
    width:100%;
   padding:0%;
    
}
.meet-the-team .meet-the-team-container img{
    width:100%;
    margin:0%;
    height:250px;
}

.meet-the-team .heading {
    text-align: center;
    color:#fff
}

.meet-the-team hr {
    
    width: 70px;
    height: 1px;
    background-color: #fff;
    border: none;
    margin: 0 auto 100px auto;
}

.meet-the-team .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meet-the-team .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 18.33%;
    box-sizing: border-box;
    padding: 0 10px;
    height:fit-content;
}

.meet-the-team .list-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.meet-the-team .list-item-content {
    flex-grow: 1;
    text-align: center;
    color:#fff
}
