.our-partners .header {
  display: block;
  justify-content: center;
  align-items: center;
}

.our-partners img {
  display: block;
  width: 100%;
}

.our-partners h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.our-partners hr {
  width: 50px;
  height: 1px;
  margin: 0px auto;
  background-color: #fff;
}

.our-partners #partner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.our-partners .partner-image {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  display: none;
  background-color: #515b4f;
}

.our-partners .partner-image.active {
  display: block;
}

.our-partners .partner-image:hover {
  border-color: #000;
  cursor: pointer;
}

.our-partners .navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 100px;
}

.our-partners .navigation-arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.our-partners #prev-arrow::before {
  content: "<";
}

.our-partners #next-arrow::before {
  content: ">";
}

/* Adjust number of images per row and image size for different screen sizes */
@media (max-width: 767px) {
  .our-partners .partner-image {
    width: 100px;
    height: 100px;
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .our-partners #partner-container {
    justify-content: flex-start;
  }

  .our-partners .partner-image {
    width: 120px;
    height: 120px;
    margin: 8px;
  }
}

@media (min-width: 992px) {
  .our-partners .partner-image {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  .our-partners .partner-image {
    width: 180px;
    height: 180px;
    margin: 12px;
  }
}
