.resource-image {
    width: 100%;
    height: auto;
}

.resource-image img {
    width: 100%;
    height: 250px;
}

.resource-content {
    text-align: center;
    padding: 20px;
    background-color: #515b4f;
}

.resources h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.resources hr {
    width: 150px;
    height: 3px;
    background-color: #fff;
    border: none;
    margin: 0 auto 20px auto;
}

.resources .resource-content  .box {
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    
    
}




.resource-content .box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 100%;
    background-color: black;
  }
  
  .resource-content .box img:hover {
    box-shadow: 0 0 0 5px black;
  }
  
  .resource-content .box img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: white;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .resource-content .box img:hover::before {
    opacity: 0;
  }





.resource-content .box p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #fff;
}
.resource-content .box a{
    margin-top: 0px;
    text-decoration: none;
    color:black;
}
.resource-content .box a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
/* Mobile View */
@media (max-width: 767px) {
    .resources h1 {
      font-size: 18px; /* Further reduce the font size */
    }
  
    .resources hr {
      width: 70px; /* Further reduce the width */
      height: 1px; /* Further reduce the height */
    }
  }